@font-face {
    font-family: "logmasnit";
    src: url("fonts/logmasnit2.ttf");
}

@font-face {
    font-family: "takugo";
    src: url("fonts/Tagelese_Block.woff2");
}

@font-face {
    font-family: "shareia";
    src: url("fonts/vekos-high-regular.ttf");
}